<div class="popup" [ngClass]="{'popup--open': isLogginPopupOpen}">
    <div class="popup__header">
        <div title="Close" class="close layout--center" (click)="exitLogginPopup()">
            X
        </div>
    </div>
    <div class="popup__body layout--center">
        <div class="popup__body-inner">

            <div class="form">
                <div class="form__title">
                    JOIN <span class="highlight">#</span>DEVRANT
                </div>
                <div class="form__description">
                    Vote and comment on others' rants. Post your own.
                </div>
                <form name="formlogin" (ngSubmit)="onLoginSubmit(login)" #login="ngForm">
                    <div class="login">
                        <input *ngIf="!showLoginProgress" 
                          type="text" 
                          id="username"
                          name="username" 
                          placeholder="USERNAME"
                          #username="ngModel"
                          [(ngModel)] = "Username"
                          required
                          (blur)="loginFormInput('username')"
                          tabindex="1"
                          autofocus/>
                        <div class="form__error" *ngIf="!isUserNamevalid">Please enter your username</div>
                        
                        <input *ngIf="!showLoginProgress"
                          type="password"
                          id="pword"
                          placeholder="PASSWORD"
                          name="pword"
                          #pword="ngModel"
                          [(ngModel)] = "Password"
                          (blur)="loginFormInput('password')"
                          tabindex="2"
                          required/>
                        <div class="form__error" *ngIf="!isPasswordValid">Please enter your password</div>

                        <app-loader [isLoading]="showLoginProgress"></app-loader>                        
                        <input type="submit" value="LET ME IN" tabindex="3"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
