<article class="post" *ngFor="let rant of rantList">
  <div class="post__inner">
    <app-myvote [totalvotes]="rant.votes" [myVote]="rant.myVote" (valueChange)="onVoteForRant($event, rant)"></app-myvote>
    <div class="post__body" (click)="viewRantDetails(rant)">{{rant.content}}</div>
  </div>
  <div class="post__footer">
    <div class="post__time">{{rant.displayTime}}</div>
    <div class="post__comments">
      <svg class="icon" viewBox="0 0 31 32">
        <path d="M24.732 24.371v7.629l-7.267-7.267h-8.808c-4.781 
                            0-8.657-3.875-8.657-8.657v-7.42c0-4.781 3.876-8.657 
                            8.657-8.657h13.604c4.781 0 8.657 3.875 8.657 8.657v7.42c0 
                            3.922-2.61 7.23-6.186 8.294z"></path>
      </svg>
      {{rant.commentCount}}
    </div>
  </div>
</article>
<app-addrant (addNewPost)="isPostAdded($event)"></app-addrant>