<div class="popup" [ngClass]="{'popup--open': isAlertPopupOpen}">
  <div class="popup__header">
    <div title="Close" class="close layout--center" (click)="exitAlertPopup()">
      X
    </div>
  </div>
  <div class="popup__body layout--center">
    <div class="popup__body-inner">

      <div class="form">
        <div class="form__title">
          <span class="highlight">#</span>{{title}}
        </div>
        <div class="form__description">
          {{description}}
        </div>
        <form name="alert">
          <div class="alert">
            <input type="submit" value="OK" (click)="exitAlertPopup()" />
          </div>
        </form>
      </div>

    </div>
  </div>
</div>